###########################
# Board-specific settings #
###########################

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y # See partitions.csv
CONFIG_ESP32_REV_MIN_3=y

####################
# General settings #
####################

# Levels: NONE, ERROR, WARN, INFO, DEBUG, VERBOSE
CONFIG_LOG_DEFAULT_LEVEL_NONE=y

#####################################
# Binary size optimization settings #
#####################################

# Optimize for size (-Os)
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# Remove error logging code
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_COMPILER_OPTIMIZATION_CHECKS_SILENT=y
CONFIG_ESP_SYSTEM_PANIC_SILENT_REBOOT=y

# CONFIG_ESP_ERR_TO_NAME_LOOKUP is not set
CONFIG_NEWLIB_NANO_FORMAT=y

# Disable ADC calibration
# CONFIG_ADC_CALI_EFUSE_TP_ENABLE is not set
# CONFIG_ADC_CALI_EFUSE_VREF_ENABLE is not set
# CONFIG_ADC_CALI_LUT_ENABLE is not set

# Disable some wifi features
# CONFIG_ESP32_WIFI_ENABLE_WPA3_SAE is not set
# CONFIG_ESP_WIFI_SOFTAP_SUPPORT is not set
# CONFIG_LWIP_IPV6 is not set
